{% from "partials/icons.njk" import icon %}
<p class="backline faq-cta">
    <a href="/faq/">{{ icon("help", 15) }} Every question we get asked {{ icon("arrow", 14) }}</a>
    <a href="mailto:{{ site.email }}">{{ icon("mail", 15) }} Ask us something else {{ icon("arrow", 14) }}</a>
</p>
