---
pagination:
  data: professions
  size: 1
  alias: profession
permalink: "{{ profession.slug }}/index.html"
eleventyComputed:
  title: "{{ profession.title | safe }}"
  description: "{{ profession.description | safe }}"
  keywords: "{{ profession.keywords | safe }}"
  canonical: "{{ profession.canonical | safe }}"
  ogTitle: "{{ profession.ogTitle | safe }}"
  ogDescription: "{{ profession.ogDescription | safe }}"
  ogUrl: "{{ profession.canonical | safe }}"
  ogImageWidth: "1280"
  ogImageHeight: "640"
  ogLocale: "en_US"
layout: layouts/profession.njk
---
